<%= form_with model: @user do |f| %>
  <div>
    <%= f.label :uid, 'UID' %>
    <%= f.text_field :uid %>
  </div>

  <div>
    <%= f.label :pass, 'PASS' %>
    <%= f.password_field :pass %>
  </div>

  <div>
    <%= f.submit '登録' %>
  </div>
<% end %>
